

# OTP
OTP_EXPIRY_MINUTES=2
MAX_OTP_ATTEMPTS=3


# Database
MONGODB_URI=mongodb://localhost:27017/narah-store
MONGODB_USER=
MONGODB_PASSWORD=

# JWT
JWT_SECRET=jewelry-store-secret-key-2024
JWT_EXPIRATION=24h

# Cloudinary
CLOUDINARY_CLOUD_NAME=dr0vofmdb
CLOUDINARY_API_KEY=832766271823462
CLOUDINARY_API_SECRET=Wypou_y8Hejmz7hvBK0gJteSbU0

# Server
PORT=5000
NODE_ENV=development

# WhatsApp
WHATSAPP_PHONE_NUMBER=9081141423
